<h1>All Episodes</h1>

<p><%= link_to "Add New Appearance", new_appearance_path %></p>
<p><%= link_to "See All Guests", guests_path %></p>

<ul>
  <% @episodes.each do |episode| %>
    <li><%= link_to episode.display_ep, episode_path(episode) %></li>
  <% end %>
</ul>
