
<h1> <%= @episode.date %> </h1>
<% @episode.guests.each do |guest| %>
<li> <%= link_to guest.name, guest_path(@guest) %> </li>
<% end %>

<% @episode.guests.each do |episode| %>
<li> <%= link_to guest.name, guest_path(guest) %> </li>
<% end %>