<h1>Create an Appearance: </h1>
<h3 style="color:red">
<% if flash[:messages] %>
    <ul>
    <% flash[:messages].each do |message| %>
        <li><%= message %></li>
    <% end %>
    </ul>
<% end %>
</h3>
<%= render 'form'%>
