<h1>The Daily Show</h1>
<h2><i>A show that happens daily</i></h2>
<br>
<%= link_to "See all episodes", episodes_path %>
<br>
<%= link_to "See all guests", guests_path %>
<br>
<%= link_to "Add a new appearance", new_appearance_path %>